mixin video(video)
    div.video-block
        div.video-block__video
            if video.thumbUrl
                img(src=video.thumbUrl)
            else 
                video(src=video.fileUrl)
            .video-block__video__data
                .video-block__video__img
                    img(src=`${video.owner.avatarUrl}`)  
                    
                .video-block__video__meta     
                    h4
                        a(href=`/videos/${video.id}`)=video.title
                    small=video.owner.name        
                    small=video.createdAt    
                    small 조회수 #{video.meta.views}회    
            
